<%-include("partials/header.ejs")%>
<main>
    <div class="aboutBody">


    <img src="images/myPhoto.jpg" alt="youssef photo">


    <div  class="myInfo">
      <div class="name">Name:  <span>Youssef Hassan Saad</span> </div>
      <div class="state">State:  <span>Student</span> </div>
        <div class="University">University:  <span>Cairo</span> </div>
      <div class="faculty">Faculty:  <span>Engineering</span> </div>
            <div class="department">Department:  <span>Computer</span> </div>
    </div>

    <div class="someInfo">
        <h3>About Me</h3>
        <p>I am a Computer Engineering student at Cairo University with a strong foundation in backend and frontend development. I have experience working with Node.js and Express for building scalable web applications, as well as C++ for problem solving and algorithmic challenges. I am proficient in SQL and database design, and familiar with Linux environments for development and deployment. On the frontend, I work with HTML, CSS, and JavaScript to create responsive and interactive user interfaces. I am passionate about solving complex problems and developing efficient, reliable software solutions.</p>
    </div>

    </div>




</main>



<%-include("partials/footer.ejs")%>