<%-include("partials/header.ejs")%>
    
<main>
    <div class="contactBody">
           <div class="linkedIn">  
          <a href="https://www.linkedin.com/in/youssef-hassan-126907291/">LinkedIN</a>
    </div>
<div class="gmail">
 <a href="mailto:yusssefhassan600@gmail.com">Gmail</a>
</div>
    <div class="phone">
         <a href="tel:01148615559">Phone Number</a>
    </div>
     
    </div>


</main>




<%-include("partials/footer.ejs")%>